* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  margin: 0;
  justify-content: center;
  align-items: center;
}

:root {
  --dark-background: #1f2937;
  --light-background: #f9faf8;
  --button-color: #3882f6;
  --logo-text-color: #f9faf8;
  --info-header-text: #1f2937;
  --quote-text: #1f2837;
  --quote-bg-color: #e5e7eb;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: var(--dark-background);
}

.header-navbar {
  display: flex;
  justify-content: end;
}

.header-navbar a {
  margin: 10px;
  top: 0;
  text-decoration: none;
  color: var(--logo-text-color);
  font-size: 18px;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--logo-text-color);
  font-size: 24px;
}

.containerFirst {
  display: flex;
  background: var(--dark-background);
  width: 100%;
  padding-bottom: 200px;
}
.containerFirst-text {
  display: block;
  justify-content: space-between;
}
.containerFirst-text h2 {
  color: var(--logo-text-color);
  font-size: 48px;
  font-weight: 800;
}
.containerFirst-text p {
  font-size: 18px;
  color: var(--logo-text-color);
}

.containerFirst-placeholder {
  background: #333;
  text-align: center;
  color: var(--light-background);
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 2.5rem;
}
.containerFirst-placeholder p {
  justify-content: center;
  align-items: center;
  padding: 50%;
}

.second {
  background: #ffffff;
  width: 100%;
  padding-bottom: 200px;
}
.second h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerSecond {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.containerSecond-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}
.containerSecond-box {
  width: 200px;
  height: 200px;
  border: var(--button-color) solid 2px;
  border-radius: 20px;
}
.containerSecond-text {
  display: flex;
  font-size: 12px;
  justify-content: center;
}

.third {
  background: var(--quote-bg-color);
  width: 100%;
  padding-bottom: 200px;
}
.third-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third-quote {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 80%;
  height: 50%;
  font-size: 36px;
  margin-top: 10%;
  font-weight: 300;
  font-style: italic;
  color: var(--dark-background);
  display: flex;
  justify-content: center;
}
.third-quote-author {
  margin-left: 60%;
  font-weight: 700;
  color: var(--info-header-text);
}

.fourth {
  background-color: white;
}
